
body {
    background-color: #394d6d;
    margin: 10px;
}

li a {
    background-color:#394d6d;
    border-radius: 10px;
    color: #7b889e;
    display: block;
    font-size: 30px;
    margin: 4px 8px;
    padding: 15px 32px;
    width: auto;
}

li a:hover {

}

.list {
    text-align: center;
}

#split {
    display: flex;
    margin: auto;
    width: auto;
}

#title-bar {
    background-color: #4f617d;
    border-color: #7b889e;
    border-radius: 10px;
    border-style: solid;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: auto;
    justify-content: center;
}

#title-text {
    color: #7b889e;
    font-size: 4em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;;
}

ul p {
    color: #7b889e;
    display: block;
    font-size: 3em;
    text-align: center;
}

#year-1 {
    background-color: #4f617d;
    border-color: #7b889e;
    border-radius: 10px;
    border-style: solid;
    flex: 1;
    height: auto;
    margin-right: 10px;
    width: 50%;
}

#year-2 {
    background-color: #4f617d;
    border-color: #7b889e;
    border-radius: 10px;
    border-style: solid;
    flex: 1;
    height: auto;
    margin-left: 10px;
    width: 50%;
}


