
body {
    background-color: #394d6d;
}

#title-bar {
    background-color: #4f617d;
    border-color: #7b889e;
    border-radius: 10px;
    border-style: solid;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: auto;
    justify-content: center;
    margin: 20px;
}

#title-text {
    color: #7b889e;
    font-size: 4em;
}

#title-bar:hover {
    background-color: #394d6d;
    color: #7b889e;


}

